$green-primary: #5dff63;
$green-secondary: #71BF4D;
$black: #100f0f;
$white: #fff;
$golden: linear-gradient(338deg, #FADA68 6.94%, rgba(250, 218, 104, 0.44) 102.43%, rgba(250, 218, 104, 0.00) 178.02%);